*{
    margin: 0;
    padding: 0;
}
.background{
    background-image: url(img/Rajkunwar_Website_Fixed_Home_background.png);
    height: 2804px;
    background-size: 100% 100%;
    padding-top: 100px;
    
}
/*------------------------------header start--------------------------------*/
.logo1{
    background-image: url(img/Rajkunwar_\ Website_\ Fixed_Home_logo.png);
    height: 70px;
    width: 120px;
    background-size: 100% 100%;
    margin: 20px 80px;
}
.carousel-indicators button{
    margin-top: -90px !important;
}

.carousel-inner img{
    max-width: 100% !important;
	height: auto !important;
}
/*------------------------------header end--------------------------------*/
/*------------------------------THE BRAND STORY start--------------------------------*/
.object{
	margin-top: 60px !important;
	margin-bottom: 30px !important;
}
.object_img{
    background-image: url(img/Rajkunwar_Website_Fixed_Home_object.png);
    height: 243px;
    width: 323px;
    background-size: 100% 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
.object_text h2{
	color: #c9a976;
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
}
.object_text p{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
.object_text h3 a{
	color: #c9a976;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none !important;
}
/*------------------------------THE BRAND STORY end--------------------------------*/

/*------------------------------Now Trending start--------------------------------*/
.Now_Trending{
    margin-top: 50px;
}
.trending_icon{
	background-image: url(img/Now\ Trending_icon_logo.png);
	height: 60px !important;
	width: 70px !important;
	background-size: 100% 100%;
}
.Now_Trending h1{
	color: #c9a976;
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
}
.Now_Trending p{
	color: black;
	font-size: 14px;
	font-weight: bolder;
}
.hover_text h2 a{
	color: black;
	font-size: 14px;
	font-weight: bolder;
	text-decoration: none !important;

}
.hover_text h2 a:hover{
	color:#c9a976;
}
.view_more img{
	height: 12px !important;
	width: 14px !important;
	background-size: contain !important;
	margin-top: 5px !important;
	margin-left: 10px !important;

}
.text_part{
	border-bottom: 2px solid #e0e0e0;
}
.text_part h2{
	color: #c9a976;
	font-size: 15px;
	margin-top: 5px;
}
.text_part h3{
	color: black;
	font-size: 15px;
	margin-top: 5px;
}
.para{
	color: black;
	font-size: 12px;
	margin-top: 5px;
	font-weight: bolder;
}
.view_more h3{
	color: #c9a976;
	font-size: 15px;
	font-weight: bolder;
}
.xxxx{
	margin-left: -110px !important;
}
.xxxx2{
	margin-right: -110px !important;
}


/*------------------------------Now Trending end--------------------------------*/
.img_break{
	background-image: url(img/Rajkunwar\ Website\ Fixed_Home_break.png);
	height: 650px;
	width: 100% !important;
	background-size: 100% 100%;
}
/*------------------------------photogalary start--------------------------------*/
.photogalary{
	width: 100% !important;

}
.photo_ad{
	display: flex !important;
	flex-wrap: wrap !important;
	width: 100% !important;
}
.row .column{
	flex: 33.3% !important;
	padding: 10px auto !important;
	
}
.column img{
	width: 100% !important;
	height: 100% !important;
	
	transition: 0.3s linear;
	cursor: pointer;
	margin: 10px auto !important;
}

.photogalary1 h1{
	color:#c9a976;
	font-size: 35px !important;
	font-weight: bold;
}
.photogalary1 p{
	color:black;
	font-size: 15px !important;
	font-weight: bolder;
}
/*------------------------------photogalary end--------------------------------*/

/*------------------------------testimori start--------------------------------*/

.testi{
	height: 350px;
	width: 100%;
	background-color: #e2e2e2;
	margin-top: 130px !important;
}
.testi h1{
	color: #c9a976;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
}
.testi p{
	color: black;
	font-size: 15px;
	font-weight: bolder;
	margin-top:-40px !important;
}
.testi h2{
	color: #c9a976;
	font-size: 20px;
	font-weight: bolder;
	margin-top:20px !important;
}
.tecti_icon_1 img{
	height: 85px !important;
	width: 110px !important;
	margin-left: -120px !important;
}
.tecti_icon_2 img{
	height: 85px !important;
	width: 110px !important;
	margin-right: -120px !important;
	margin-top:-40px !important;
}
/*------------------------------testimori end--------------------------------*/
.footer{
	height: 270px;
	background-color: #1a1450;
}
.footer_text{
	padding-top: 60px;
}
.footer_text ul{
	list-style: none;
}
.footer_text ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.btn1{
	border:2px solid white !important;
	background-color: transparent;
	padding: 5px;
	color: white;
	border-radius: 5px;
}
.email_dec{
	background-color: transparent !important;
	border: none !important;
	border-bottom: 2px solid #7e7b99 !important;
}

.footer_text h3{
	font-size: 20px;
}
/*------------------------------responsive start--------------------------------*/

@media (max-width: 768px) {
    .logo1{
        background-image: url(img/Rajkunwar_\ Website_\ Fixed_Home_logo.png);
        height: 40px;
        width: 60px;
        background-size: 100% 100%;
       margin: auto !important;
      
        
    }
	.carousel-indicators button{
		margin-top: -20px !important;
	}
/*------------------------------header end--------------------------------*/
 .object_text h2{
	color: #c9a976;
	font-size: 25px;
	font-weight: bold;
	margin-top: 0px;
}
.object_text p{
	color: black;
	font-size: 10px;
	font-weight: bold;
}
.object_text h3 a{
	color: #c9a976;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;

}
.object_img{
	margin-top: 30px !important;
}
/*------------------------------Now Trending start--------------------------------*/
.Now_Trending{
    margin-top: 20px;
}
.trending_icon{
	background-image: url(img/Now\ Trending_icon_logo.png);
	height: 60px;
	width: 70px;
	background-size: 100% 100%;
}
.trending_head h1{
	color: #c9a976 !important;
	font-size: 25px;
	font-weight: bold;
	margin-top: 0px;
}
.trending_head p{
	color: black;
	font-size: 10px;
	font-weight: bold;
}
.hover_text h2 a{
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;

}
.trending_icon{
	margin-top: -20px !important;
}
.yyy{
	height: 300px !important;
	width: 300px !important;
	justify-content: center  !important;
}
.xxxx2 img{
	height: 30px !important;
	width: 30px !important;
	margin-right: 0px;
}
.xxxx2{
	margin-right: -40px !important;
}
.xxxx img{
	height: 30px !important;
	width: 30px !important;
	margin-right: 0px;
}
.xxxx{
	margin-left: -40px !important;
}


/*------------------------------Now Trending end--------------------------------*/
.img_break{
	height:auto  !important;
	background-size: contain !important;
	background-repeat: no-repeat;
}
/*------------------------------photogalary start--------------------------------*/
.photogalary1 h1{
	color:#c9a976;
	font-size: 25px !important;
	font-weight: bold;
}
.photogalary1 p{
	color:black;
	font-size: 12px !important;
	font-weight: bolder;
}
.row .column{
	flex: 100% !important;
	padding: 10px auto !important;
	
}
/*------------------------------photogalary end--------------------------------*/

/*------------------------------testimori start--------------------------------*/

.testi{
	height: 250px;
	width: 100%;
	background-color: #e2e2e2;
	margin-top: 30px !important;
}
.testi h1{
	color: #c9a976;
	font-size: 25px;
	font-weight: bold;
	padding-top: 30px;
}
.testi p{
	color: black;
	font-size: 10px;
	font-weight: bolder;
	margin-top:-10px !important;
}
.testi h2{
	color: #c9a976;
	font-size: 15px;
	font-weight: bolder;
	margin-top:20px !important;
}
.tecti_icon_1 img{
	height: 30px !important;
	width: 40px !important;
	margin-left: -60px !important;
}
.tecti_icon_2 img{
	height: 30px !important;
	width: 40px !important;
	margin-right: -60px !important;
	margin-top:-40px !important;
}
/*------------------------------testimori end--------------------------------*/
.footer{
	height: 310px;
	background-color: #1a1450;
}
.footer_text{
	padding-top: 30px;
}
.footer_text ul{
	list-style: none;
}
.footer_text ul li a{
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.btn1{
	border:2px solid white !important;
	background-color: transparent;
	padding: 2px;
	color: white;
	border-radius: 5px;
	width: 55px !important;
	font-size: 8px !important;
}
.email_dec{
	background-color: transparent !important;
	border: none !important;
	border-bottom: 2px solid #7e7b99 !important;
}

.footer_text h3{
	font-size: 12px;
}
/*------------------------------responsive end--------------------------------*/